body,
html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
.content {
    width: 500px;
    height: 500px;
    margin: auto;
    border: 2px solid rgb(0, 187, 255);
}
.dh {
    width: 100px;
    height: 100px;
    text-align: center;
    animation: box 8s ease 1s infinite both;
    transform-origin: top left;
}
.dh span {
    width: 100px;
    height: 100px;
    display: inline-block;
    line-height: 100px;
    color: rgb(0, 0, 0);
}
@keyframes box {
    0% {
        transform: scale(1);
        background-color: #ff0000;
    }
    12.5% {
        transform: scale(5);
        background-color: rgb(255, 98, 0);
    }
    25% {
        transform: scale(1);
        background-color: yellow;
    }
    37.5% {
        transform: scale(4);
        background-color: rgb(102, 255, 0);
    }
    50% {
        transform: scale(1);
        background-color: rgb(0, 157, 255);
    }
    62.5% {
        transform: scale(3);
        background-color: rgb(17, 0, 255);
    }
    75%{
        transform: scale(1);
        background-color: rgb(255, 0, 179);
    }
    87.5%{
        transform: scale(2);
        background-color: rgb(153, 0, 255);
    }
    100%{
        transform: scale(1);
        background-color: rgb(255, 0, 0);
    }
    }
    
    

