html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
.content{
    width: 80%;
    max-width: 1200px;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    background-color: #fff;
    margin: 50px auto;
    
}
.item{
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 500px;/*由具体数值决定每行占几个*/
    flex:1;          /*核心*/
    margin-bottom: 30px; /*用父元素外边距抵消*/
    transition: all .3s ease;
}
.item .img{
    width: 100%;

}
.item img{
    width: 100%;/*控制图片宽度对齐*/
    border-radius:10px ;
}
.item .video-description{

    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin: -30px 0 0;
    transition: all .3s ease-out;
    font-size: 14px;
    color: white;
}
.item .video-description .description-icon{
    background-color: rgba(50, 50, 50, 0.7);
    padding: 0 5px;
    border-radius:5px ;
}

.item .video-description .num-dscp1{
    display: inline-block;
    margin-right: 10px;
}
.item .video-description .play-time{
    display: inline-block;
    background-color: rgba(50, 50, 50, 0.7);
    border-radius: 5px;
    color: white;
    padding: 0 5px;
}
.item:hover{
    transform: scale(1.1);
}
.item:hover .video-description{
    opacity: 0;
}
.item .video-info{
    display: flex;
    margin-top: 15px;
}
.item .video-info .author{
width: 40px;
}
.item .video-info .long-info{
    margin-left:3px;
    display: flex;
    flex-direction: column;
}
.long-info a:hover{
    color: rgb(28, 139, 186);
}
.item .video-info .author-name{
    padding-left: 10px;
    font-size: 14px;
    font-weight: 200;
}